.header {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: #242323;
  .logoName {
    font-size: 25px;
  }

}
.logoName {
  cursor: pointer;
  a {
    color: var(--green-Matrix);
    font-family: "Lex";
    font-size: 2rem;
  }
}
.menu-icon {
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.menu-icon .line {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.menu-icon:active .line{
  background-color: var(--green-Matrix);
}

.navbar {
display: flex;
align-items: center;
}
.menu-icon {
  display: flex;
}
#menu-toggle {
    display: none;
  }
.list-navbar{
  margin: 10;
  position: absolute;
  top: 100%;
  left: 0;
  right:0;
  width: 100vw;
  height: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: flex-start;
  background-color: #242323 ;
  list-style: none;
  overflow: hidden;
  transition: height 0.6s ease ;
  z-index: -1;
  li{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 20px 0;

  }
  
  a{
    text-decoration: none;
    color: #ffffff;
  }
}

.list-navbar .link{
  width: 100%;
  padding: 10px 20px;
}
.link.active {
  color: var(--green-Matrix);
}


#menu-toggle:checked + .menu-icon ~ .list-navbar {
  height: auto;
}
#menu-toggle:checked + .menu-icon .line:nth-child(1) {
  transform: rotate(45deg) translate(15px, 3px);
  background-color: var(--green-Matrix);
}
#menu-toggle:checked + .menu-icon .line:nth-child(2) {
  transform: scale(0);
}
#menu-toggle:checked + .menu-icon .line:nth-child(3) {
  transform: rotate(-45deg) translate(15px, -4px);
  background-color: var(--green-Matrix);
}

@media screen and (width > 425px) {

  .hidden-btn{
    display: none;
  }
  .link.active {
  color: var(--main-text-color);
}
  
  #menu-toggle,
  .menu-icon {
    display: none;
  }

 
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);

  }

  .navbar {
    position: static;
    display: flex;
    


    .list-navbar {
      position: static; 
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: auto;
      height: auto;
      background: transparent;
      gap: 10px;
      overflow: visible;
      z-index: 8;
      li{
        width: auto;
        align-items: center;
        padding: 0;
        
      }
    }
  }

  .link {
    color: var(--main-text-color);
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: var(--green-Matrix);
      transition: width 0.5s ease;
    }

    &:hover {
      color: var(--green-Matrix);
      &::after {
        width: 100%;
      }
    }
  }
}

@media screen and (width > 768px) {
  .hidden-btn {
    display: block;
  }
}
@media screen and (hover: hover) {
  .link {
    cursor: pointer;
    &:hover {
      color: var(--green-Matrix);
      &::after {
        width: 90%;
      }
    }
  }
}
