body{
    background-color: white;
}

main{
    width: 70%;
    margin: 2rem auto;
    align-content: center;
}

.Sinopsis{
    text-align: center;
    p{
        text-align: left;
        width: 50%;
        margin: 2rem auto;
    }
}

.trailer{
    width: 60%;
    margin: 2rem auto ;
    iframe{
        width: 100%;
    }
}
.meaning{
    width: 60%;
    margin: 2rem auto;
}
.wheretoSee{
    h1{
        width: 60%;
        margin:2rem auto;
        text-align: center;
    }
}
.plataforms{
    display: flex;
    margin: 2rem auto;
    list-style: none;
    width: 50%;
    gap: 1.5rem;
    align-items: center;
    li{
        cursor: pointer;
    }

}
.netflix{
    color:#e51414;
    margin-bottom: 13px;
}
.apple{
    margin-bottom: 5px;
}
.primevideo{
    margin-bottom:9px;
}
.movistar{
    margin-bottom:0px;
}
.disney{
    color:#ffff;
}
